<div class="container">
  <div class ="row d-flex justify-content-center">
    <div class="col-5 text-center">
      <div class="titleD">
        <h1>投稿</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <aside id="sub">
      <div class="box">
        <div class="card pt-3 pb-3">
          <div class="row d-flex justify-content-center pt-3">
            <% if @post.medias.attached? %>
              <% @post.medias.each do |media| %>
                <% if media.content_type.include?('image') %>
                  <%= image_tag media, class: "img-fluid", size: "200x200" %>
                <% else %>
                  <%= video_tag rails_blob_path(media), controls: true, class: "img-fluid", size: "200x200" %>
                <% end %>
              <% end %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "200x200" %>
            <% end %>
          </div>
          <div class="col text-center pt-4 pb-3">
            <%= @post.post_content %>
          </div>
          <div class="col p-3 ml-4">
            <% @post.tags.each do |tag| %>
              <li>
                <%= link_to tag.name, tag_path(tag) %>
              </li>
            <% end %>
          </div>
          <div class="col text-center pb-3">
            <%= render "public/favorites/btn", post: @post %>
              <i class="fa-regular fa-comment-dots" style="color: #765047;"></i> <%= @post.post_comments.count %>
              <% if @post.bookmarked_by?(current_user) %>
                <%= link_to post_bookmarks_path(@post), method: :delete do %>
                  <i class="fa-solid fa-bookmark" style="color: #ffa861;"></i>
                <% end %>
              <% else %>
                <%= link_to post_bookmarks_path(@post), method: :post do %>
                  <i class="fa-regular fa-bookmark" style="color: #f89b4f;"></i>
                <% end %>
              <% end %>
          </div>
          <div class="col text-center pb-3">
            <% if current_user && current_user.id == @post.user_id %>
              <%= link_to edit_post_path(@post.id) do %>
                <i class="fa-solid fa-user-pen"></i>編集
              <% end %>
              <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
                <i class="fa-solid fa-trash-can"></i>削除
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </aside>
    <div class=" col-md-9">
      <div class="box1">
        <div class ="row d-flex justify-content-center">
          <div class="box2">
            <h2>コメント</h2>
          </div>
        </div>
        <div class="row d-flex pt-3 pl-1">
          <div class="col-md-6 mb-3">
            <div class="text-center pt-3">
              <%= render "public/comments/index", post: @post %>
            </div>
          </div>
          <aside id="subA">
            <div class="boxA">
              <%= render "public/comments/form", post: @post, post_comment: @post_comment %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>