<div class="container">
  <h2>画像</h2>
  <% if @post.medias.attached? %>
    <% @post.medias.each do |media| %>
      <% if media.content_type.include?('image') %>
        <%= image_tag media, class: "img-fluid" %>
      <% else %>
        <%= video_tag rails_blob_path(media), controls: true, class: "img-fluid" %>
      <% end %>
    <% end %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "200x200" %>
  <% end %>

  <h2>本文</h2>
  <p><%= @post.post_content %></p>

  <h2>タグ</h2>
  <ul>
    <% @post.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag_path(tag) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "編集", edit_post_path(@post.id) %>
  <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "投稿を削除しますか？" %>
</div>