<div class="container">
  <div class="row justify-content-center">
    <table class="table table-hover table-inverse">
      <!--検索対象モデルがUserの時 -->
      <% if @range == "User" %>
      <h2>ユーザーを "<%= @word %>" で検索した結果</h2>
        <thead>
          <tr>
            <th class="text-center">プロフィール画像</th>
            <th>ユーザー名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="text-center">
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(200, 200) %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
        <thead>
          <tr>
            <th class="text-center">投稿画像</th>
            <th>内容</th>
    
          </tr>
        <tbody>
        <h2>投稿を "<%= @word %>" で検索した結果</h2>
        <% @posts.each do |post| %>
          <tr>
            <td class="text-center">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.user.get_profile_image(200,250) %>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(post.id) do %>
                <%=post.post_content %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>